<h1>Barbearia_GWK</h1>
<p>Site oficial de agendamentos da nossa barbearia!</p>
<nav>
  <a href="/">Inicio</a>
  <a href="{{ url_for('agendamentos') }}">Agendamentos</a>

</nav>

<table border="1">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Serviço</th>
      <th>Barbeiro</th>
      <th>Data</th>
      <th>Horário</th>
      <th>Status</th>
    </tr>

  </thead>
  <tbody>
    {% for agendamento in agendamentos %}
    <tr {% if agendamentos.status == "Cancelado" %}
            style="background-color: #ff0202;"
        {% elif agendamento.status == "Agendado" %}
            style="background-color: #f3a704;"
        {% elif agendamento.status == "Concluído" %}
            style="background-color: #0ae43d;"
        {% endif %}>

      <td>{{ agendamento.cliente }}</td>
      <td>{{ agendamento.servico }}</td>
      <td>{{ agendamento.barbeiro }}</td>
      <td>{{ agendamento.data }}</td>
      <td>{{ agendamento.horario }}</td>
      <td>{{ agendamento.status }}</td>
      <td>
        <a href="{{ url_for('detalhes_agendamento', id=agendamento.id) }}">Detalhes</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
