<h1>Barbearia_GWK</h1>
<p>Site oficial de agendamentos da nossa barbearia!</p>
<nav>
  <a href="/">Inicio</a>
  <a href="{{ url_for('agendamentos') }}">Agendamentos</a>
  <a href="{{ url_for('detalhes_agendamentos', id=agendamentos.id) }}">Detalhes</a>
</nav>

<table border="1">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Serviço</th>
      <th>Barbeiro</th>
      <th>Data</th>
      <th>Horário</th>
      <th>Status</th>
    </tr>
    {% for agendamentos in agendamentos %}
  </thead>

  <tr>
    
    <td>
      {{loop.index}} - {{ agendamentos.cliente }} - {{ agendamentos.servico }} -
      {{ agendamentos.barbeiro }} - {{ agendamentos.data }} - {{
      agendamentos.horario }} - {{ agendamentos.status }}
    </td>
    <td><a href="{{url_for('detalhe', id=buscar_id)}}">Detalhes</a></td>
  </tr>
  {% endfor %}
</table>
